body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 0 15%;
}

.content1, .content3 {
    color: black;
    background-color: white;
    padding: 25px 20%;
}

.content2 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 50px 20%;
}

.content2 .author {
    align-self: flex-end;
}

.container3 {
    display: flex; 
    color: white;
    background-color: cornflowerblue;
    padding: 30px 150px;
    justify-content: space-between;
}


.content1 .container{
    display: flex;
    justify-content: space-between;
}

.head, .navbar {
    display: flex;
    margin-bottom: 10vh;
}

.navbar {
    justify-content: space-between;
}

.head {
    display: flex;
    justify-content: space-between;
    border-color: none;
}

.head .text {
    margin-right: 25px;
}

.head .image {
    background-color: #e5e7eb;
    min-width: 45%;
    min-height: 100%;
    margin-left: 25px;
}

.head image {
    height: 100%;
    width: 50%;
}

.text {
    color: #F8FAF8;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 .info {
    color: #1f2937;
    font-size: 32px;
    font-weight: bold;

}

.image.container {
    height: 200px;
    width: 150px;
    margin: 5px 20px;
}

ul, h4, p {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 15px;
}

img {
    border: 5px solid lightgreen;
}

a { 
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}

p .title.text{
    font-size: 18px;
    color: #E5E7EB;
}

button {
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: inherit;
    border-color: inherit;
}