body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content1, .content3 {
    background-color: white;
}

.content2 {
    background-color: grey;
}

.content1 .container{
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.head {
    display: flex;
}