body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 10px 15%;
    background-color: #1f2937;
}

.content1, .content3 {
    color: black;
    background-color: white;
    padding: 25px 20%;
}

.content.info {
    font-size: 36px;
    font-weight: bold;
    color: #1f2947;
}

.content2 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 50px 20%;
}

.content2 .author {
    align-self: flex-end;
    color: black
}

.container3 {
    display: flex; 
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 30px 130px;
    justify-content: space-between;
}


.content1 .container{
    display: flex;
    justify-content: space-between;
}

.head, .navbar {
    display: flex;
    margin-bottom: 10vh;
}

.navbar {
    justify-content: space-between;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight:500;
}

.head.text {
    margin-right: 25px;
    color: grey;
}

.head.title, .head.image{
    flex: 1;
}

.head .image {
    border: 1px solid green;
    background-color: #e5e7eb;
    margin: 0;
    max-height: 30vh;
    flex-basis: auto;
    margin-left: 13%;
}

.title h1 {
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}
 
.title.text, .navbar.links {
    font-size: 18px;
    color: #E5E7Eb;
}

.title .text {
    margin-bottom: 10px; 
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 .info {
    color: #1f2937;
    font-size: 32px;
    font-weight:800;
    margin-bottom: 20px;
}

.image.container {
    height: 100px;
    width: 150px;
    margin: 20px 100px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    padding: 25px 0;
    align-content: center;
    justify-content: center;
}

ul, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 15px;
}

a { 
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    margin: 0;
}

p .title.text{
    font-size: 18px;
    color: #E5E7EB;
}

.content-sign {
    border: 2px solid white;
    padding: 0px 30px;
}

button {
    font-weight: bold;
    background-color: #3882f6;
    padding: 8px 30px;
    border-radius: 5px;
    color: inherit;
    border: none;
}